#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.authenticated-view {
  position: relative;
  top: 75px;
  left: calc(5% + 250px);
  width: calc(90% - 250px);
}

.btn:focus {
  box-shadow: none !important;
}


@import 'variables';
.router-link-exact-active {
  color: $primary;
}
@import 'bootstrap';
@import 'components';
@import 'utilities';
