$avatarSizes: (
  "1": 10px,
  "2": 20px,
  "3": 30px,
  "4": 40px,
  "5": 50px,
  "6": 60px,
  "7": 70px,
  "8": 80px,
  "9": 90px
);

@each $name, $size in $avatarSizes {
  .avatar-#{$name} {
    overflow: hidden;
    width: #{$size} !important;
    height: #{$size} !important;
    object-fit: cover !important;
    border-radius: 100% !important;
  }
}
