.navbar {
  background: #2a3d5f;
  animation: navbarEffect 0.5s forwards;
  z-index: 20;
}

@keyframes navbarEffect {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
